[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
asyncio = "*"
avro = "*"
python-dotenv = "*"
httpx = "*"
pytest = "*"
bitstring = "*"
dependency-injector = "==4.42.0b1"

[dev-packages]

[requires]
python_version = "3.12"
